<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>
  <extension point="org.blueberry.osgi.applications" id="org.imeka.mibrain.app">
    <application>
      <run class="PlitkApplication" />
    </application>
  </extension>
  <extension id="mibrain" point="org.blueberry.core.runtime.products">
    <product name="MI-Brain" application="org.imeka.mibrain.app" />
  </extension>
  <extension point="org.blueberry.ui.perspectives">
    // name="SCIL" is the name of the perspective that will be displayed in the title bar of the application window
    <perspective id="org.imeka.plitk.mibrainperspective" name="SCIL" class="MIBrainPerspective" icon="">
      <description>The user won't see this</description>
    </perspective>
  </extension>
</plugin>
